@import '~styles/mixins';

.footer {
  @include b-up(lg) {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
  }

  @include b-d(lg) {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 32px;
  }
}

.footerWrapper {
  background-color: $gray-100;
  border-radius: 16px;

  @include b-up(md) {
    padding: 24px 40px;
  }

  @include b-d(md) {
    padding: 36px 40px 32px;
  }
}

.footerTop {
  $this: &;

  display: grid;
  grid-auto-flow: column;
  gap: 40px 50px;
  align-items: center;

  &.withButton {
    grid-auto-flow: row;
    gap: 48px 32px;

    @include b-up(lg) {
      grid-template-columns: auto 1fr auto;
    }

    @include b-btw(md, lg) {
      grid-template-columns: auto auto;
      padding-bottom: 40px;
    }

    @include b-d(md) {
      row-gap: 40px;
    }

    #{$this}__menu {
      justify-self: center;
      margin-right: 0;

      @include b-btw(md, lg) {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
      }

      @include b-d(md) {
        grid-row: 3;
      }
    }
  }

  @include b-up(md) {
    padding-bottom: 24px;
  }

  @include b-d(md) {
    grid-template-columns: auto;
    justify-items: center;
    padding-bottom: 36px;
  }

  &__menu {
    @include b-up(md) {
      justify-self: end;
      margin-right: -16px;
    }

    @include b-d(md) {
      grid-row: 2;
      justify-self: center;
    }
  }

  &__appButton {
    @include b-up(md) {
      justify-self: end;
    }

    @include b-d(md) {
      grid-row: 2;
    }
  }

  &__logo {
    @include b-up(md) {
      justify-self: start;
    }

    @include b-d(md) {
      justify-self: center;
    }
  }
}

.footerBottom {
  position: relative;
  display: grid;
  align-items: center;

  @include b-up(md) {
    grid-auto-flow: column;
    justify-content: space-between;
    padding-top: 24px;
  }

  @include b-d(md) {
    grid-auto-flow: row;
    gap: 32px;
    justify-content: center;
    padding-top: 32px;
  }

  &::before {
    position: absolute;
    inset: 0;
    width: calc(100% + 80px);
    height: 1px;
    margin-left: -40px;
    content: '';
    background-color: $gray-200;
  }

  &__left {
    display: grid;
    grid-auto-flow: column;
    gap: 8px 4px;
    align-items: center;

    @include b-d(md) {
      grid-auto-flow: row;
    }
  }

  &__links {
    display: grid;
    grid-auto-flow: column;
    column-gap: 4px;
    align-items: center;
  }

  &__footerLink {
    font-size: 12px;
    line-height: 1.333;
    color: $gray-800;
    white-space: nowrap;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: $primary;
    }
  }

  &__copyWrapper {
    font-size: 12px;
    font-weight: $font-weight-normal;
    line-height: 1.333;
    color: #969696;
    letter-spacing: -0.01em;
    white-space: nowrap;

    @include b-d(md) {
      text-align: center;
    }
  }

  &__textDeveloper {
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: $gray-900;
      }
    }
  }

  &__footerSocial {
    @include b-d(md) {
      justify-self: center;
    }
  }
}
