/* stylelint-disable no-descending-specificity */
@import '~styles/mixins';

.sectionFeatures {
  $section-offset: 40px;

  --header-offset: #{95px - $section-offset};
  --padding: 32px;

  display: grid;
  padding-top: calc(var(--header-offset) + var(--padding));
  padding-bottom: 67px;
  margin-top: calc(-1 * var(--header-offset));

  @include b-d(md) {
    $section-offset: 20px;

    --header-offset: #{80px - $section-offset};
    --padding: 48px;

    padding-bottom: 48px;
  }

  &:not(.long) {
    .featuresWrapper {
      gap: 48px;
      text-align: center;

      @include b-d(md) {
        gap: 46px;
      }
    }
  }

  &.long {
    --padding: 66px;

    padding-bottom: 48px;

    @include b-d(md) {
      --padding: 40px;
    }

    .featuresWrapper {
      max-width: 820px;
      margin: 58px auto 0;

      @include b-up(lg) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include b-d(lg) {
        margin-top: 50px;
      }

      @include b-d(md) {
        margin-top: 18px;
      }
    }

    .buttons {
      margin-top: 48px;
    }
  }

  &.short {
    --padding: 66px;

    @include b-d(md) {
      --padding: 56px;

      padding-bottom: 56px;
    }

    .featuresWrapper {
      margin-top: 58px;

      @include b-d(lg) {
        margin-top: 50px;
      }

      @include b-d(md) {
        gap: 24px;
        margin-top: 34px;
      }
    }
  }
}

.heading {
  display: grid;
  gap: 17px;
  text-align: center;

  @include b-d(lg) {
    gap: 15px;
  }

  @include b-d(md) {
    gap: 8px;
  }
}

.text {
  max-width: 820px;
  margin: 0 auto;
}

.featuresWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 82px;

  @include b-d(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include b-d(md) {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
}

.buttons {
  margin-top: 74px;
}
