@import '~styles/mixins';

.sectionFeatures {
  display: grid;
  padding-top: 32px;
  padding-bottom: 67px;

  @include b-d(lg) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &:not(.long) {
    text-align: center;
  }
}

.text {
  margin-top: 27px;

  @include b-d(lg) {
    margin-top: 8px;
  }
}

.featuresWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  margin-top: 82px;

  @include b-d(lg) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }

  @include b-d(md) {
    grid-template-columns: 1fr;
  }
}

.buttons {
  grid-template-columns: repeat(2, minmax(100px, 240px));
  justify-self: center;
  margin-top: 74px;
}

.caption {
  justify-self: center;
  margin-top: 9px;
  font-size: 12px;
  color: $gray-400;
  text-align: center;
}
