@import '~styles/mixins';

.sectionHowItWorks {
  padding: 80px 0 54px;
  text-align: center;

  @include b-d(md) {
    padding-top: 48px;
    padding-bottom: 52px;
  }

  &__stepsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    margin-top: 62px;
    counter-reset: step;

    @include b-d(lg) {
      grid-template-columns: minmax(100px, 400px);
      gap: 20px;
      justify-content: center;
      margin-top: 58px;
    }

    @include b-d(md) {
      margin-top: 36px;
    }
  }
}

.gridHeading {
  display: grid;
  row-gap: 12px;
  justify-content: center;

  p {
    @include b-up(lg) {
      max-width: 616px;
    }

    @include b-d(lg) {
      max-width: 100%;
    }
  }
}
