.accordion {
  margin-top: 24px;

  &-body {
    padding-bottom: 4px;
  }

  &-item {
    border-right: none;
    border-left: none;
  }

  &-button,
  &-link {
    padding: 18px 0;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.03em;

    &.active,
    &:hover {
      color: $indigo;
    }
  }

  &-subLink {
    display: grid;
    grid-template-columns: 24px auto;
    column-gap: 12px;
    align-items: center;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.286px;

    &:hover,
    &.active {
      color: $primary;
    }

    > svg {
      color: $pink;
    }
  }

  &-button:not(.collapsed) {
    box-shadow: none;
  }

  &--faq {
    .accordion-item {
      overflow: hidden;
      border: solid 1px #c9c9c9;
      border-radius: 16px;

      &:has([aria-expanded='true']) {
        border-color: #ff008a;
        outline: solid 1px #ff008a;
      }
    }

    .accordion-button {
      column-gap: 16px;
      padding: 24px 24px 24px 64px;
      font-size: 18px;
      line-height: 1.333;
      transition: all 0.25s ease-in-out;

      &[aria-expanded='true'] {
        padding-bottom: 13px;
      }

      &::before {
        position: absolute;
        top: 24px;
        left: 24px;
        width: 24px;
        height: 24px;
        content: '';
        background-color: #ff008a;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='9' stroke='%23FF008A' stroke-width='2'/%3E%3Cpath fill='%23FF008A' fill-rule='evenodd' d='M12 5.5a4.1 4.1 0 0 0-2.73 1A3.9 3.9 0 0 0 8 9.5h2c0-.47.1-.83.28-1.11l1.75 3.28a4 4 0 0 0-.22.18c-.4.35-.81.88-.81 1.65v1h2v-1l-.97-1.83.97 1.83a.62.62 0 0 1 .13-.15c.15-.13.32-.24.56-.4l.37-.24c.8-.54 1.94-1.43 1.94-3.21a3.9 3.9 0 0 0-1.27-3 4.1 4.1 0 0 0-2.73-1Zm.03 6.17L10.28 8.4c.09-.16.2-.29.32-.4.36-.31.86-.49 1.4-.49.54 0 1.04.18 1.4.5.34.3.6.77.6 1.5 0 .72-.37 1.09-1.06 1.55l-.22.15c-.21.14-.47.3-.7.47ZM10.28 8.4l-1-1.89 1 1.89ZM12 18.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }

      &::after {
        --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%237E7E7E' stroke-width='2' d='m18 9-6 6-6-6'/%3E%3C/svg%3E");
        --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%237E7E7E' stroke-width='2' d='m18 9-6 6-6-6'/%3E%3C/svg%3E");
        --bs-accordion-btn-icon-width: 24px;
      }
    }

    .accordion-body {
      padding: 0 64px 24px;
    }

    .accordion-collapse {
      transition-duration: 0.2s;
    }
  }
}
