@import '~styles/mixins';

.badge {
  line-height: 1.1429;
  letter-spacing: -0.01em;
  background-color: $white;
  transition: background-color 0.25s;
}

.bg {
  &-primary-gray {
    color: darken($pink, 6.8%);
    background-color: $gray-100;
  }

  &-secondary {
    padding: 8px 16px;
    line-height: 1.29;
    color: $indigo;
    background-color: #f3f0ff;
    border-radius: 10px;
  }

  &-article {
    color: darken($pink, 6.2%);
    background-color: #fff7f7;
  }

  &-integration {
    padding: 10px;
    line-height: 1.29;
    color: $indigo;
    border-radius: 12px;
  }

  &-disabled {
    color: #717171;
    background-color: $gray-100;
  }

  &-disabled2 {
    color: #717171;
    background-color: $white;
  }
}
