button {
  display: block;
  padding: 0;
  color: inherit;
  background: none;
  border: 0;
  outline: none;
  appearance: none;
}

%pseudo {
  position: absolute;
  inset: 0;
  z-index: -1;
  content: '';
  border-radius: inherit;
}

%btn-primary-bg {
  background-image: linear-gradient(
    to right,
    $pink 0%,
    $indigo 25%,
    $indigo 78%,
    $pink 100%
  );
  background-position: 0 0;
  background-size: 400% 100%;
}

.btn {
  padding-top: $btn-padding-y - 2px;
  letter-spacing: -0.03em;

  &-group {
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 16px;
  }

  // Variant: primary
  &-primary {
    @extend %btn-primary-bg;

    position: relative;

    /* prettier-ignore */
    padding:
      $btn-padding-y + $btn-border-width - 2px
      $btn-padding-x + $btn-border-width
      $btn-padding-y + $btn-border-width;
    text-shadow: 0 0 2px rgba($gray-900, 0.2);
    isolation: isolate;
    border: none;

    &:hover {
      background-position: 100% 0;
    }

    &::before {
      @extend %pseudo;

      background-color: rgba($black, 0.2);
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }

    &:active::before {
      opacity: 1;
    }
  }

  // Variant: outline-secondary
  &-outline-secondary {
    color: $gray-900;

    &:hover {
      background-color: $gray-100;
    }

    &:active {
      background-color: #eaeaea;
    }
  }

  // Variant: secondary
  &-secondary {
    color: $gray-900;
    background-color: $white;

    &:hover {
      background-color: $gray-100;
    }

    &:active {
      background-color: #eaeaea;
    }
  }

  // Variant: primary-header
  &-primary-header {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .btn-outline-secondary;

    position: relative;
    isolation: isolate;

    &::before {
      @extend %pseudo;
      @extend %btn-primary-bg;

      inset: -1px;
      opacity: 0;
      transition: opacity 0.25s ease-in-out,
        background-position 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &.scrolled {
      --bs-btn-focus-shadow-rgb: #{to-rgb(
          mix(color-contrast($primary), $primary, 15%)
        )};
      --#{$prefix}btn-hover-color: #{$white};
      --#{$prefix}btn-active-color: #{$white};

      color: $white;
      border-color: transparent;

      &::before {
        opacity: 1;
      }

      &:hover {
        &::before {
          background-position: 100% 0;
        }
      }

      &::after {
        @extend %pseudo;

        inset: -1px;
        background-color: rgba($black, 0.2);
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
      }

      &:active::after {
        opacity: 1;
      }
    }
  }
}
