.container {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  @extend .container-fluid;

  width: 100%;
  max-width: 1320px;

  &-fluid {
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
    margin-right: auto;
    margin-left: auto;

    @include b-d(md) {
      padding-right: $container-padding-x-sm;
      padding-left: $container-padding-x-sm;
    }
  }
}
