.container {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  @extend .container-fluid;

  max-width: 1440px;

  &-fluid {
    padding: 0 $container-padding-x;
    margin: auto;

    @include b-btw(md, xxl) {
      padding: 0 $container-padding-x-md;
    }

    @include b-d(md) {
      padding: 0 $container-padding-x-sm;
    }
  }
}
