.form {
  &-group {
    position: relative;
    padding-bottom: 17px;
    margin-top: 5px;

    &.demo {
      display: grid;
      gap: 8px;

      @include b-up(md) {
        grid-template-columns: 356px 156px;
      }
    }
  }

  &-text {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
    line-height: 1;
    color: $pink;
  }

  &-label {
    line-height: 1.29;
    color: $black;
    letter-spacing: -0.01em;
  }

  &-control {
    color: $gray-800;
    letter-spacing: -0.02em;

    @include unify-parent('textarea') {
      min-height: 120px;
      resize: none;
    }

    &::placeholder {
      transition: opacity 150ms;
    }

    &:focus {
      &::placeholder {
        opacity: 0.5;
      }
    }

    &:hover:not(:focus) {
      border-color: $gray-400;
    }

    &.secondary {
      color: $white;
      background-color: #df5fce;
      border-color: #ffadfb;

      &::placeholder {
        color: rgba(255, 242, 253, 60%);
      }

      &:hover,
      &:focus:not(.error) {
        border-color: #fff8ff;
      }
    }

    &.error {
      border-color: $pink;

      &:hover {
        border-color: $pink;
      }
    }
  }

  &-submit {
    min-width: 148px;
    margin-top: 4px;

    &.full {
      width: 100%;
    }
  }

  &-check-input {
    pointer-events: none;
    background-size: 12px;
  }
}
