.form {
  &-group {
    position: relative;
    padding-bottom: 15px;
    margin-top: 5px;
  }

  &-text {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
    line-height: 1;
    color: $pink;
  }

  &-label {
    line-height: 1.29;
    color: $black;
    letter-spacing: -0.01em;
  }

  &-control {
    color: $gray-800;
    letter-spacing: -0.02em;

    @include unify-parent('textarea') {
      min-height: 120px;
      resize: none;
    }

    &::placeholder {
      transition: opacity 150ms;
    }

    &:focus {
      &::placeholder {
        opacity: 0.5;
      }
    }

    &:hover:not(:focus) {
      border-color: $gray-400;
    }

    &.error {
      border-color: $pink;

      &:hover {
        border-color: $pink;
      }
    }
  }

  &-check-input {
    pointer-events: none;
    background-size: 12px;
  }
}

/* Variant for partner form */
.partner {
  .form {
    &-group {
      padding-bottom: 20px;
      margin-top: 4px;
    }

    &-label {
      margin-bottom: 6px;
    }

    &-text {
      margin-top: 6px;
      font-size: 12px;
      line-height: 1.167;
    }

    &-submit {
      margin-top: 4px;
    }
  }
}
