.marquee {
  $this: &;

  &-wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden;
    mask-image: linear-gradient(
      90deg,
      transparent 0%,
      white 10%,
      white 90%,
      transparent 100%
    );

    &.baked {
      @include b-up(lg) {
        min-height: 56px;
      }

      @include b-d(lg) {
        min-height: 39px;
      }

      .initial-child-container {
        @include b-up(xl) {
          margin: 0 auto;
        }
      }

      #{$this} {
        @include b-up(xl) {
          animation-play-state: paused;
          animation-iteration-count: 0;
        }

        @include b-d(xl) {
          min-width: auto;
        }
      }
    }
  }
}
