.modal {
  $this: &;

  &-dialog {
    max-width: clamp-builder(sm, md, 327px, 464px);
  }

  &-header {
    display: grid;
    grid-template:
      'title btn-close' auto
      'subtitle .' auto / 1fr auto;
    column-gap: 48px;
    border-bottom: 1px solid $gray-200;
  }

  &-content {
    box-shadow: 0 32px 80px rgba(34, 18, 34, 0.2%);
  }

  .btn-close {
    grid-area: btn-close;
    margin: -12px;
  }

  #{$this}-title {
    grid-area: title;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }

  #{$this}-subtitle {
    grid-area: subtitle;
    margin-top: 8px;
    font-size: 15px;
    line-height: 1.467;
    color: $gray-900;
  }
}
