.nav {
  $this: &;

  &-link {
    line-height: 1.2857;
    letter-spacing: -0.01em;
  }

  /* Variant: header */
  &-header {
    #{$this}-link {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        right: $nav-link-padding-x;
        bottom: 6px;
        left: $nav-link-padding-x;
        content: '';
        transition: box-shadow 0.15s;
      }

      &.active::after {
        box-shadow: 0 2px $pink;
      }
    }
  }

  /* Variant: footer */
  &-footer {
    @include b-d(md) {
      flex-direction: column;
      margin-top: -12px;
      text-align: center;
    }

    #{$this}-link {
      @include b-d(md) {
        padding: 0.75rem 1rem;
      }
    }
  }

  /* Variant: blog */
  &-blog {
    &-wrapper {
      border-bottom: 1px solid $gray-200;
    }

    margin-left: -16px;

    #{$this}-link {
      position: relative;
      margin-bottom: 1px;
      font-size: 15px;
      line-height: 1.47;

      &::after {
        position: absolute;
        top: 0;
        right: 16px;
        bottom: 0;
        left: 16px;
        content: '';
        transition: box-shadow 0.15s;
      }

      &:hover,
      &:focus {
        color: $gray-900;
      }

      &.active {
        font-weight: $font-weight-bolder;
        color: $gray-900;

        &::after {
          box-shadow: 0 2px $primary;
        }
      }
    }
  }
}
