.nav {
  $this: &;

  &-link {
    line-height: 1.286;
    letter-spacing: -0.01em;
  }

  &-footer {
    @include b-d(md) {
      flex-direction: column;
      margin-top: -12px;
      text-align: center;
    }

    #{$this}-link {
      @include b-d(md) {
        padding: 0.75rem 1rem;
      }
    }
  }

  &-blog {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 32px;
    border-bottom: 1px solid $gray-200;

    #{$this}-link {
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 1px;
      font-size: 15px;
      line-height: 1.47;
      transition: box-shadow 0.2s;

      &:hover,
      &:focus {
        color: $gray-900;
      }

      &.active {
        font-weight: $font-weight-bolder;
        color: $gray-900;
        box-shadow: 0 2px $primary;
      }
    }
  }
}
