.toast {
  $this: &;

  display: grid;
  grid-auto-flow: column;
  column-gap: 32px;
  padding: 24px;
  margin-top: var(--bs-toast-spacing);

  &.fade {
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: opacity, transform, height, margin-top;
  }

  &.slideFromRight {
    transform: translateX(16px);
  }

  &.collapseVertically {
    height: 0 !important;
    margin-top: 0;
    overflow: hidden;
  }

  @include b-d(md) {
    grid-auto-flow: row;
    row-gap: 24px;
    width: 545px;
  }

  &-container {
    padding: 0 24px 24px;

    &.top-end {
      top: 0;
      right: 0;
    }

    &.bottom-middle {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    > #{$this}:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &-header {
    display: grid;
    grid-template-columns: 48px auto;
    column-gap: 16px;
    align-items: start;
    border-radius: 16px;

    a {
      color: inherit;
      text-decoration: underline;
      text-underline-position: under;

      &:hover {
        color: $primary;
      }
    }

    .btn-close {
      display: none;
    }
  }

  &-body {
    display: grid;
    grid-auto-flow: column;
    column-gap: 16px;
  }

  &.form {
    --bs-toast-max-width: 327px;

    height: 96px;
    padding: 0;

    #{$this}-header {
      grid-template-columns: 48px auto 24px;
      align-items: center;
      padding: 24px;
      font-size: 15px;
      line-height: 1.467;
    }

    .btn-close {
      display: block;
      margin: -8px;
    }
  }
}
