// h1, h2, h3, p etc.
h1 {
  line-height: 1.125;
  letter-spacing: -0.04em;

  @include b-d(md) {
    line-height: 1.2;
  }

  @include b-btw(md, lg) {
    font-size: 52px;
  }

  @include b-d(md) {
    font-size: 40px;
  }
}

h2,
h3,
h4,
h5 {
  letter-spacing: $letter-spacing-base;
}

h2 {
  @include b-btw(md, lg) {
    font-size: 32px;
    line-height: 1.25;
  }

  @include b-d(md) {
    font-size: 24px;
  }
}

h3 {
  font-weight: $font-weight-semi-bold;
}

h4 {
  font-weight: $font-weight-semi-bold;
}

h5 {
  font-weight: $font-weight-bold;
  line-height: 1.2;
}
