.hide-d-md {
  @include b-d(md) {
    display: none !important;
  }
}

.hide-up-md {
  @include b-up(md) {
    display: none !important;
  }
}

.hide-d-lg {
  @include b-d(lg) {
    display: none !important;
  }
}

.hide-up-lg {
  @include b-up(lg) {
    display: none !important;
  }
}
