@import '~styles/mixins';

.title {
  &::before {
    color: $primary;
    content: 'Step ' counter(step) ': ';
    counter-increment: step;
  }
}

.imageWrapper {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  isolation: isolate;
  border-radius: 12px;
}

.description {
  margin: 16px 1px;
  font-size: 15px;

  @include b-d(lg) {
    text-align: left;
  }
}
