@import '~styles/mixins';

.title {
  @include b-d(lg) {
    font-size: 12px;
  }

  @include b-d(md) {
    font-size: 14px;
  }

  &::before {
    color: $primary;
    content: 'Step ' counter(step) ': ';
    counter-increment: step;
  }
}

.imageWrapper {
  position: relative;
  margin-top: 20px;
  pointer-events: none;
  user-select: none;
  background-color: #f2f2f2;
  isolation: isolate;
  border-radius: 12px;

  @include b-d(lg) {
    margin-top: 12px;
    border-radius: 10px;
  }

  &::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    content: '';
    background-image: radial-gradient(#e0e1e5 1px, transparent 0);
    background-size: 15px 15px;
  }
}

.description {
  margin: 16px 1px;
  font-size: 15px;
}
