@import '~styles/mixins';

.section {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 24px;
  background: $gray-100;

  @include b-d(md) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.title {
  font-size: 18px;
  line-height: 1.334;
  text-align: center;
}

.marquee {
  margin-top: 40px;

  @include b-d(md) {
    margin-top: 24px;
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;

    @include b-up(lg) {
      padding: 0 32px;
    }

    @include b-btw(md, lg) {
      padding: 0 16px;
    }

    @include b-d(md) {
      padding: 0 12px;
    }

    &__img {
      width: auto;

      @include b-up(md) {
        height: 56px;
      }

      @include b-d(md) {
        height: 40px;
      }
    }
  }
}
