@import '~styles/mixins';

.wrapper {
  background-color: #fbf7ff;

  @include b-up(md) {
    padding-top: 64px;
  }

  @include b-up(xl) {
    padding-bottom: 96px;
  }

  @include b-btw(md, xl) {
    padding-bottom: 64px;
  }

  @include b-d(md) {
    padding-block: 40px;
  }
}

.heading {
  display: grid;
  gap: 17px;
  margin-bottom: 58px;
  text-align: center;

  @include b-d(lg) {
    gap: 15px;
    margin-bottom: 50px;
  }

  @include b-d(md) {
    gap: 8px;
    margin-bottom: 34px;
  }
}

.swiperWrapper {
  max-width: 1440px;
  padding-block: 44px;
  padding-inline: calc((100% - 1240px) / 2);
  margin: -44px auto;

  @include b-up(xxl) {
    padding-inline: 100px;
    mask-image: linear-gradient(
      to right,
      transparent 20px,
      white 100px,
      white calc(100% - 100px),
      transparent 100%
    );
  }

  @include b-d(container) {
    padding-inline: 40px;
  }

  @include b-d(md) {
    padding-inline: 24px;
  }
}
