@import '~styles/mixins';

.footer {
  padding-top: 100px;
  padding-bottom: 40px;

  @include b-d(md) {
    padding-bottom: 24px;
  }
}

.footerWrapper {
  padding: 24px 40px;
  background-color: $gray-100;
  border-radius: 16px;

  @include b-d(md) {
    padding-top: 36px;
    padding-bottom: 32px;
  }
}

.footerTop {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 48px;
  align-items: center;
  padding-bottom: 24px;

  @include b-d(md) {
    grid-template-columns: auto;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    padding-bottom: 36px;
  }
}

.footerBottom {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;

  @include b-d(md) {
    grid-auto-flow: row;
    gap: 32px;
    justify-content: center;
    padding-top: 33px;
  }

  &::before {
    position: absolute;
    inset: 0;
    width: calc(100% + 80px);
    height: 1px;
    margin-left: -40px;
    content: '';
    background-color: $gray-200;
  }
}

.logo {
  @include b-up(md) {
    justify-self: start;
  }
}

.menu {
  @include b-up(md) {
    justify-self: end;
  }

  @include b-d(md) {
    grid-row: 3;
  }
}

.appButton {
  @include b-up(md) {
    justify-self: end;
  }
}

.copyWrapper {
  display: grid;
  row-gap: 2px;
  font-size: 12px;
  font-weight: $font-weight-normal;
  line-height: 1.333;
  color: #717171;
  letter-spacing: -0.01em;

  @include b-d(md) {
    text-align: center;
  }
}

.textDeveloper {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: $gray-900;
    }
  }
}

.footerSocial {
  @include b-d(md) {
    justify-self: center;
  }
}
