@import '~styles/mixins';

.sectionMission {
  @include b-up(lg) {
    display: grid;
    grid-template-columns: 400px minmax(0, 720px);
    column-gap: 64px;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
  }

  @include b-d(lg) {
    margin-top: 30px;
  }

  @include b-d(md) {
    margin-top: 28px;
  }
}

.textWrapper {
  > p {
    max-width: 688px;
    margin-top: 20px;

    @include b-d(lg) {
      margin-top: 12px;
    }
  }
}

.img {
  @include fix-ios-border-radius;

  margin-top: 40px;
  border-radius: 16px;

  @include b-d(lg) {
    margin-top: 32px;
    border-radius: 12px;
  }

  &.imgDesktop {
    @include b-d(md) {
      display: none !important;
    }
  }

  &.imgMobile {
    @include b-up(md) {
      display: none !important;
    }
  }
}
