@import '~styles/mixins';

.sectionHero {
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  // display: grid;
  height: 100%;

  @include b-d(md) {
    row-gap: 64px;
  }
}

.content {
  display: grid;
  justify-content: center;
  padding: 73px 0 23px;

  @include b-d(lg) {
    padding: 113px 0 45px;
  }

  @include b-d(md) {
    padding-top: 106px;
  }
}

.imgHero,
.video {
  overflow: hidden;
  // pointer-events: none;
  // user-select: none;
  border-radius: 12px;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 2%),
    0 12px 8px 0 rgba(0, 0, 0, 3%),
    0 20px 12px 0 rgba(0, 0, 0, 3%),
    0 40px 24px 0 rgba(0, 0, 0, 5%),
    0 80px 40px -48px rgba(0, 0, 0, 4%),
    0 100px 80px 0 rgba(0, 0, 0, 6%);
  // transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transform: scale(var(--scale, 0.83));

  @include b-d(md) {
    border-radius: 8px;
  }
}

.video {
  aspect-ratio: 1024 / 597;
  background: #5428ee;

  > mux-player {
    display: block;
    height: 100%;

    --media-background-color: #5428ee;
    --controls-backdrop-color: transparent !important;
    --controls: none;
  }
}

.message {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 12px 20px;
  background: $gray-100;
  border-radius: 24px;
  transform: translate(-50%, 0);
  animation: reveal 600ms ease 350ms both;

  @include b-up(md) {
    white-space: nowrap;
  }

  @include b-d(md) {
    width: calc(100% - 45px);
    padding: 12px 15px;
    letter-spacing: -0.03em;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.heading {
  @include b-d(md) {
    padding: 0 8px;
  }
}

.lead {
  max-width: 1028px;
  margin-top: 25px;
  margin-bottom: 42px;
}
