@import '~styles/mixins';

.sectionHero {
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
}

.container {
  position: relative;
  display: grid;
}

.content {
  display: grid;
  justify-content: center;
  padding-top: 30px;

  @include b-d(md) {
    padding-bottom: 20px;
  }

  &.hasMessage {
    padding: 70px 0 0;

    @include b-d(md) {
      padding: 100px 0 20px;
    }
  }
}

.message {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 12px 20px;
  background: $gray-100;
  border-radius: 24px;
  transform: translate(-50%, 0);
  animation: reveal 600ms ease 350ms both;

  @include b-up(md) {
    white-space: nowrap;
  }

  @include b-d(md) {
    width: calc(100% - 45px);
    padding: 12px 15px;
    letter-spacing: -0.03em;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

h1 {
  @include b-d(md) {
    padding: 0 8px;
  }
}

.lead {
  max-width: 1028px;
  margin-top: 25px;

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  &:global(.h4) {
    @include b-d(md) {
      font-size: 18px;
    }
  }
}
