/* stylelint-disable no-descending-specificity */
@import '~styles/mixins';

.feature {
  display: grid;
  grid-template-rows: auto auto 1fr;

  &:not(.long) {
    gap: 20px;
    justify-items: center;

    .text {
      font-size: 15px;
    }
  }

  &.long {
    gap: 16px;
    padding: 24px 24px 26px;
  }
}

.icon {
  color: $pink;
}

.text {
  line-height: 1.467;

  ul {
    display: grid;
    padding-left: 28px;
    margin: 0;
    line-height: 1.5;

    li {
      padding: 2px 0;

      &::marker {
        font-size: 1.2em;
        line-height: 1;
        color: $indigo;
        content: '•  ';
      }
    }
  }
}
