@import '~styles/mixins';

.inner {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  border-bottom: 1px solid $gray-200;

  @include b-d(md) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  h2 {
    margin-bottom: 1rem;
    line-height: 1.2;
  }
}

.lead {
  max-width: 810px;
  margin: auto;
}

.image {
  --scale: 1;

  max-width: 1030px;
  margin: 48px 0;
}

.content {
  padding-top: 72px;
  padding-bottom: 80px;

  @include b-d(md) {
    padding-top: 40px;
    padding-bottom: 48px;
  }

  > h3,
  > p {
    max-width: 870px;
    margin: auto;
  }

  > h3 {
    margin-bottom: 1em;
    text-align: center;
    text-wrap: balance;

    @include b-d(md) {
      line-height: 1.11;
    }
  }

  > p {
    margin-bottom: 1.2em;
  }
}

.personas {
  margin-top: 32px;
  margin-bottom: 32px;
}

.media {
  --scale: 1;

  max-width: 1030px;
  margin: 40px auto;
}
