@import '~styles/mixins';

.cardFunction {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
  padding: 24px;
  background: $white;
  border-radius: 16px;
  box-shadow: 0 6px 44px rgba(0, 0, 0, 10%);

  @include b-d(lg) {
    padding: 16px;
  }
}

.image {
  aspect-ratio: 1.686;
  background: $gray-100 radial-gradient(#e0e1e5 1px, transparent 0);
  background-size: 15px 15px;
  border-radius: 8px;
}

.title {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 12px;
  align-items: center;
  justify-content: start;
  margin-top: 16px;

  &__header {
    font-size: 16px;
    line-height: 1.25;
  }

  &__icon {
    color: $pink;
  }
}

.description {
  margin-top: 16px;
  font-size: 15px;
  line-height: 1.467;
}

.button {
  align-self: end;
  margin-top: 16px;

  svg {
    color: $pink;
  }
}
