@import '~styles/mixins';

.feature {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 16px 12px;
  align-content: start;
  align-items: center;

  svg {
    color: $pink;
  }
}

.text {
  grid-column: span 2;
  font-size: 15px;
  line-height: 1.467;
}
