@import '~styles/mixins';

.sectionHero {
  display: grid;
  justify-items: center;
  padding-top: 50px;
  text-align: center;
}

.lead {
  margin-top: 25px;
  margin-bottom: 42px;
}

.buttonWrapper {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  justify-content: start;
}

.player {
  max-width: 1030px;
  margin-top: 80px;

  @include b-d(md) {
    margin-top: 72px;
    border-radius: 8px;
  }
}
