@import '~styles/mixins';

.imgWrapper {
  padding: 12px;
  margin-bottom: 16px;
  background-color: $white;
  border-radius: 8px;
  transition: background-color 0.25s;

  &.placeholder {
    box-sizing: content-box;
    width: 40px;
    height: 40px;
  }
}

.placeholderImg {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.placeholderHeader {
  width: 160px;
  margin: 4px 0;
}

.placeholderText {
  width: 200px;
  margin: 4px 0;
}

.placeholderBtn {
  align-self: end;
  width: 52px;
  height: 52px;
  border-radius: 100%;
}

.arrowLink {
  align-self: end;
  padding: 16px;
  border-radius: 100%;

  &::after {
    position: absolute;
    inset: -1px;
    z-index: -1;
    content: '';
    background-color: $white;
    border-radius: inherit;
    transition: opacity 0.25s;
  }

  &:focus {
    color: $white;

    &::after {
      opacity: 0;
    }
  }
}

.arrowIcon {
  color: $gray-900;
  transition: color 0.25s;
}

.cardCase {
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
  row-gap: 8px;
  justify-items: start;
  min-height: 322px;
  padding: 32px 32px 40px;
  background-color: $gray-100;
  border-radius: 16px;
  transition: background-color 0.25s, box-shadow 0.25s;

  &:not(.placeholder):hover {
    background-color: $white;
    box-shadow: 0 26px 54px rgba(34, 18, 34, 5%);

    .imgWrapper {
      background-color: #fbfbfb;
    }

    .arrowLink {
      &::after {
        opacity: 0;
      }
    }

    .arrowIcon {
      color: $white;
    }
  }
}
