@import '~styles/mixins';

.section {
  text-align: center;
}

.heading {
  display: grid;
  gap: 17px;
  margin-bottom: 58px;

  @include b-d(lg) {
    margin-bottom: 50px;
  }

  @include b-d(md) {
    gap: 8px;
    margin-bottom: 34px;
  }
}

.buttons {
  margin-top: 48px;
}
