@import '~styles/mixins';

.sectionRelatedCases {
  padding-top: 74px;
  margin-top: 74px;
  border-top: 1px solid $gray-200;

  @include b-d(lg) {
    padding-top: 64px;
    margin-top: 48px;
  }

  @include b-d(md) {
    padding-top: 48px;
  }
}

.heading {
  text-align: center;
}

.gridCases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 24px;

  @include b-d(lg) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 40px;

    .cardCase:nth-child(n + 5) {
      display: none;
    }
  }

  @include b-d(md) {
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 30px;

    .cardCase:nth-child(n + 4) {
      display: none;
    }
  }
}

.blockTextError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 332px;
  margin-top: 24px;

  @include b-btw(md, lg) {
    margin-top: 40px;
  }

  @include b-d(md) {
    margin-top: 30px;
  }

  a {
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }
}
