@import '~styles/mixins';

.social {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
}

.socialLink {
  padding: 12px;
  background-color: #f8f8f8;
  border: 1px solid $gray-200;
  border-radius: 12px;
  transition: background-color 0.2s;

  svg {
    transition: color 0.2s;
  }

  &:not(:hover, :focus) svg {
    color: #7e7e7e;
  }

  &:hover {
    background-color: $white;
  }
}
