/* stylelint-disable no-descending-specificity */
@import '~styles/mixins';

.section {
  &.more {
    padding-top: 60px;

    .items {
      padding-top: 58px;

      @include b-d(lg) {
        padding-top: 50px;
      }

      @include b-d(md) {
        padding-top: 34px;
        padding-bottom: 24px;
      }
    }
  }
}

.heading {
  display: grid;
  gap: 17px;
  text-align: center;

  @include b-d(md) {
    gap: 8px;
  }
}
