@import '~styles/mixins';

.sectionIntegrations {
  margin-top: 140px;

  @include b-d(lg) {
    margin-top: 100px;
  }

  & > p {
    max-width: 480px;
    margin-top: 12px;

    @include b-up(md) {
      margin: 12px auto 0;
      text-align: center;
    }
  }
}

.heading {
  @include b-up(md) {
    text-align: center;
  }
}

.integrationsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 32px;
  margin-top: 40px;

  @include b-d(lg) {
    grid-template-columns: 1fr;
  }
}
