@import '~styles/mixins';

.sectionHero {
  padding-top: 120px;
  padding-bottom: 40px;

  @include b-d(md) {
    padding-top: 92px;
    padding-bottom: 20px;
  }
}

.description {
  max-width: 488px;
  margin-top: 12px;
}

.tagsWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  margin: 16px 0 32px;
}

.tag {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 12px;
  align-items: center;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.285;
  background-color: $gray-100;
  border-radius: 22px;

  svg {
    color: $pink;
  }
}
