@import '~styles/mixins';

.wrapper {
  background-color: $gray-100;
}

.sectionFeatures {
  display: grid;

  @include b-up(lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include b-d(lg) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  > p {
    max-width: 482px;
    margin-top: 12px;
  }
}

.featuresWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 48px;
  margin-top: 40px;

  @include b-d(lg) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }

  @include b-d(md) {
    grid-template-columns: 1fr;
  }
}
