@import '~styles/mixins';

.sectionFeatures {
  display: grid;
  margin-top: 100px;

  @include b-up(md) {
    justify-items: center;
  }

  > p {
    max-width: 700px;
    margin-top: 12px;

    @include b-up(md) {
      text-align: center;
    }
  }
}

.featuresWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 40px;

  @include b-d(lg) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  @include b-d(md) {
    grid-template-columns: 1fr;
    margin-top: 32px;
  }
}
