@import '~styles/mixins';

.sectionPrices {
  padding-right: 24px;
  padding-left: 24px;
  background-color: $gray-100;
  border-radius: 16px;

  @include b-up(lg) {
    padding-top: 80px;
    // margin-top: 80px;
    // margin-bottom: 80px;
  }

  @include b-up(xl) {
    padding-bottom: 24px;
  }

  @include b-d(xl) {
    padding-bottom: 12px;
  }

  @include b-d(lg) {
    padding-top: 64px;
    // margin-top: 64px;
    // margin-bottom: 64px;
  }

  &__btn {
    padding-bottom: 17px;
    margin-top: 27px;
  }
}

.header {
  display: grid;
  justify-content: center;
  text-align: center;

  &__title {
    justify-self: center;

    @include b-up(lg) {
      font-size: 36px;
      line-height: 1.389;
    }

    @include b-btw(md, lg) {
      max-width: 487px;
    }

    @include b-d(md) {
      max-width: 278px;
    }
  }

  &__description {
    justify-self: center;
    max-width: 354px;

    @include b-up(lg) {
      margin-top: 12px;
    }

    @include b-btw(md, lg) {
      margin-top: 16px;
    }

    @include b-d(md) {
      margin-top: 8px;
      font-size: 15px;
      line-height: 1.467;
    }
  }

  &__form {
    @include b-up(lg) {
      justify-self: center;
      margin-top: 20px;
    }

    @include b-btw(md, lg) {
      justify-self: center;
      margin-top: 24px;
    }

    @include b-d(md) {
      margin-top: 32px;
    }
  }

  &__trialText {
    font-size: 15px;
    line-height: 1.467;
    color: $gray-400;

    @include b-up(md) {
      margin-top: 15px;
    }

    @include b-d(md) {
      margin-top: 23px;
    }
  }

  &__priceList {
    padding-right: 24px;
    padding-left: 24px;
    margin-right: -24px;
    margin-left: -24px;
    mask-image: linear-gradient(
      90deg,
      transparent 0%,
      white 24px,
      white calc(100% - 24px),
      transparent 100%
    );

    @include b-up(lg) {
      margin-top: 52px;
    }

    @include b-d(lg) {
      margin-top: 40px;
    }
  }
}
