@import '~styles/mixins';

.sectionPartners {
  display: grid;
  row-gap: 32px;
  padding-bottom: 40px;

  @include b-up(lg) {
    padding-top: 50px;
  }

  @include b-btw(md, lg) {
    padding-top: 40px;
  }

  @include b-d(md) {
    padding-top: 32px;
  }
}

.partner {
  display: grid;
  row-gap: 24px;
  align-items: center;
  padding: 24px;
  background-color: $gray-100;
  border-radius: 16px;

  @include b-up(lg) {
    grid-template-columns: 400px 1fr;
    column-gap: 40px;
    min-height: 448px;
  }

  @include b-btw(md, lg) {
    grid-template-columns: 288px 1fr;
    column-gap: 24px;
  }

  &__logoWrapper {
    position: relative;
    width: 100%;
    height: 100%;

    @include b-d(md) {
      min-height: 264px;
    }

    &__logo {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 8px;
    }
  }

  &__title {
    @include b-up(lg) {
      line-height: 1.364;
    }

    @include b-btw(md, lg) {
      font-size: 24px;
      line-height: 1.333;
    }

    @include b-d(md) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__description {
    margin-top: 12px;

    @include b-d(md) {
      font-size: 15px;
      line-height: 1.467;
    }

    strong {
      font-weight: 600;

      @include b-up(md) {
        font-size: 18px;
      }

      @include b-d(md) {
        font-size: 16px;
      }
    }
  }

  &__button {
    margin-top: 32px;
  }
}
