@import '~styles/mixins';

.sectionHero {
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 64px;
  min-height: min(100vh, 940px);
  padding-top: 96px;
  padding-bottom: 32px;
  margin-top: -96px;
  overflow: hidden;

  @include b-d(lg) {
    padding-bottom: 16px;
  }
}

.container {
  width: 100%;
}

.containerMain {
  position: relative;
  display: grid;
  height: 100%;

  @include b-up(lg) {
    grid-template-columns: 448px 1fr;
  }

  @include b-btw(md, lg) {
    grid-template-columns: 400px 1fr;
  }

  @include b-d(md) {
    row-gap: 64px;
  }
}

.colLeft {
  display: grid;
  row-gap: 32px;
  align-self: center;

  @include b-up(md) {
    justify-items: start;
    margin-top: 176px;
  }

  @include b-up(lg) {
    @media (max-height: 800px) {
      margin-top: 100px;
    }
  }

  @include b-d(md) {
    row-gap: 24px;
    justify-items: center;
    margin-top: 40px;
    text-align: center;
  }

  p {
    margin-top: -12px;

    @include b-btw(md, lg) {
      margin-top: -20px;
    }

    @include b-up(md) {
      max-width: 89%;
    }

    @include b-d(md) {
      margin-top: -8px;
    }
  }
}

.imgHero {
  $img-hero-width: 897px;
  $img-hero-height: 690px;

  user-select: none;

  @include b-up(lg) {
    top: calc(50% + 24px);
    right: 140px;

    @media (max-height: 880px) {
      width: $img-hero-width * 0.9;
      height: $img-hero-height * 0.9;
    }

    @media (max-height: 800px) {
      width: $img-hero-width * 0.76;
      height: $img-hero-height * 0.76;
    }
  }

  @include b-btw(xl, xxl) {
    right: 80px;
  }

  @include b-btw(lg, xl) {
    right: 40px;
    width: $img-hero-width * 0.8;
    height: $img-hero-height * 0.8;
  }

  @include b-btw(md, lg) {
    top: calc(50% - 36px);
    right: -116px;
    width: $img-hero-width * 0.76;
    height: $img-hero-height * 0.76;
  }

  @include b-up(md) {
    position: absolute !important;
    z-index: -1;
    transform: translateY(-50%);
  }

  @include b-d(md) {
    justify-self: center;
    width: $img-hero-width * 0.36;
    height: $img-hero-height * 0.36;
  }
}

.heading {
  @include b-d(md) {
    padding: 0 8px;
  }
}

.blockPartners {
  display: grid;
  row-gap: 20px;

  @include b-d(md) {
    row-gap: 16px;
  }
}

.textPartners {
  font-size: 14px;
  font-weight: $font-weight-medium;
  line-height: 1.286;
  color: #757575;
  letter-spacing: -0.01em;
}
