@import '~styles/mixins';

.testimonial {
  display: grid;
  row-gap: 20px;
  height: 100%;
  background: var(--bs-white);
  border-radius: 24px;
  box-shadow:
    0 32px 24px 0 rgba(0, 0, 0, 5%),
    0 20px 12px 0 rgba(0, 0, 0, 3%),
    0 12px 8px 0 rgba(0, 0, 0, 3%),
    0 1px 3px 0 rgba(0, 0, 0, 2%);

  @include b-up(md) {
    grid-template:
      'image content' 1fr
      'image author' auto / 128px 1fr;
    column-gap: 40px;
    align-items: start;
    padding: 40px;
  }

  @include b-d(md) {
    grid-template:
      'content content' 1fr
      'author image' auto / 1fr 64px;
    column-gap: 16px;
    align-items: center;
    padding: 24px;
  }

  &_image {
    grid-area: image;
    overflow: hidden;
    border-radius: 50%;
  }

  &_content {
    display: grid;
    grid-area: content;
    row-gap: 8px;

    @include b-d(md) {
      align-self: start;
    }
  }

  &_text {
    font-weight: 400;
  }

  &_author {
    display: flex;
    grid-area: author;
    gap: 4px;

    @include b-up(md) {
      align-items: baseline;
      padding-top: 16px;
      border-top: 0.5px solid #c9c9c9;
    }

    @include b-d(md) {
      flex-direction: column;
    }
  }
}
