@import '~styles/mixins';

.sectionHero {
  padding-top: 40px;
  padding-bottom: 40px;

  @include b-up(xl) {
    margin-top: 40px;
  }

  @include b-d(lg) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  h1 {
    max-width: 920px;

    @include b-d(lg) {
      max-width: 660px;
    }
  }

  mark {
    padding: 0;
    color: transparent;
    background: $primary-gradient;
    background-clip: text;
  }
}

.button {
  margin-top: 48px;

  @include b-d(lg) {
    margin-top: 24px;
  }
}
