@import '~styles/mixins';

.sectionHero {
  padding-top: 96px;
  padding-bottom: 96px;

  @include b-d(md) {
    padding-top: 68px;
    padding-bottom: 68px;
  }

  h1 {
    max-width: 920px;

    @include b-d(lg) {
      max-width: 660px;
    }
  }
}

.textGradientPrimary {
  color: transparent;
  background: $primary-gradient;
  background-clip: text;
}
