@import '~styles/mixins';

.sectionIntegrations {
  padding-top: 80px;

  p {
    max-width: 488px;
    margin-top: 12px;
  }

  &.signUp {
    @include b-up(lg) {
      padding-bottom: 80px;
    }

    @include b-btw(md, lg) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @include b-d(md) {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    p {
      @include b-up(lg) {
        max-width: 616px;
      }

      @include b-d(lg) {
        max-width: 521px;
      }
    }
  }

  @include b-d(lg) {
    padding-top: 64px;
  }
}

.integrationsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 40px;

  &.twoColumns {
    @include b-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include b-d(lg) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  @include b-d(md) {
    grid-template-columns: 1fr;
  }
}
