@import '~styles/mixins';

.sectionIntegrations {
  $section-offset: 30px;

  --header-offset: #{95px - $section-offset};
  --padding: 0px;

  padding-top: calc(var(--header-offset) + var(--padding));
  margin-top: calc(-1 * var(--header-offset));

  @include b-up(lg) {
    --padding: 64px;
  }

  @include b-d(lg) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &.signUp {
    p {
      @include b-d(lg) {
        max-width: 521px;
      }
    }
  }
}

.heading {
  display: grid;
  gap: 17px;
  text-align: center;
}

.integrationsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 58px;

  &.twoColumns {
    @include b-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include b-d(lg) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  @include b-d(md) {
    grid-template-columns: 1fr;
  }
}
