@import '~styles/mixins';

.sectionIntegrations {
  $section-offset: 30px;

  --header-offset: #{95px - $section-offset};

  padding-top: calc(var(--header-offset) + var(--padding));
  margin-top: calc(-1 * var(--header-offset));

  --padding: 64px;

  @include b-d(md) {
    $section-offset: 20px;

    --header-offset: #{80px - $section-offset};
    --padding: 40px;
  }

  &.signUp {
    p {
      @include b-d(lg) {
        max-width: 521px;
      }
    }
  }
}

.heading {
  display: grid;
  gap: 17px;
  text-align: center;

  @include b-d(lg) {
    gap: 15px;
  }
}

.integrationsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 58px;

  @include b-d(lg) {
    margin-top: 50px;
  }

  @include b-d(md) {
    margin-top: 34px;
  }

  &.twoColumns {
    @include b-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include b-d(lg) {
    grid-template-columns: 1fr;
  }
}
