@import '~styles/mixins';

.cardColumns {
  display: grid;
  padding: 24px 0;
  margin-top: 32px;
  border: 1px solid $gray-200;
  border-radius: 16px;

  @include b-d(md) {
    padding: 0 24px;
  }

  @include b-up(md) {
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }

  ul {
    display: grid;
    row-gap: 8px;
    padding: 0;
    margin: 0;
    list-style-type: none;

    + p {
      margin-top: 32px;
    }

    p {
      margin: 0;
    }
  }
}

.column {
  padding: 0 24px;

  @include b-d(md) {
    padding: 24px 0;
  }

  &:not(:first-child) {
    @include b-up(md) {
      border-left: 1px solid $gray-200;
    }

    @include b-d(md) {
      border-top: 1px solid $gray-200;
    }
  }
}
