@import '~styles/mixins';

.image,
.video {
  margin-bottom: 40px;
  overflow: hidden;
  // pointer-events: none;
  // user-select: none;
  border-radius: 12px;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 2%),
    0 12px 8px 0 rgba(0, 0, 0, 3%),
    0 20px 12px 0 rgba(0, 0, 0, 3%),
    0 40px 24px 0 rgba(0, 0, 0, 5%),
    0 80px 40px -48px rgba(0, 0, 0, 4%),
    0 100px 80px 0 rgba(0, 0, 0, 6%);
  // transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transform: scale(var(--scale, 0.83));

  @include b-d(md) {
    border-radius: 8px;
  }
}

.video {
  aspect-ratio: 2048 / 1194;
  background: #ececec;

  > mux-player {
    display: block;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    margin: -2px;

    --media-background-color: #ececec;
    --controls-backdrop-color: transparent !important;
    --controls: none;
  }
}
