@import '~styles/mixins';

.wrapper {
  background-color: $gray-100;
}

.heading {
  @include b-up(lg) {
    padding-top: 80px;
    margin-top: 80px;
  }

  @include b-d(lg) {
    padding-top: 64px;
    margin-top: 64px;
  }

  > p {
    max-width: 488px;
    margin-top: 12px;
  }
}

.swiperWrapper {
  max-width: 1440px;
  padding: 52px calc((100% - 1240px) / 2) 80px;
  margin: 0 auto;

  @include b-up(xxl) {
    padding: 40px 100px 80px;
    mask-image: linear-gradient(
      to right,
      transparent 20px,
      white 100px,
      white calc(100% - 100px),
      transparent 100%
    );
  }

  @include b-d(container) {
    padding: 40px 40px 80px;
  }

  @include b-d(lg) {
    padding-bottom: 64px;
  }

  @include b-d(md) {
    padding: 32px 24px 64px;
  }
}
