@import '~styles/mixins';

.sectionRoadmap {
  display: grid;
  grid-auto-flow: row;
  gap: 56px;
  justify-items: center;
  margin-top: 80px;

  @include b-d(lg) {
    gap: 32px;
    margin-top: 48px;
  }

  @include b-d(md) {
    gap: 24px;
    margin-top: 36px;
  }
}

.roadmapWrapper {
  display: grid;
  grid-template-areas:
    'i0 i0 . .'
    '. i1 i1 .'
    '. . i2 i2';
  grid-template-columns: repeat(4, 1fr);
  row-gap: 24px;
  padding: 32px 0;
  counter-reset: phase;
  background: repeating-linear-gradient(
    to right,
    $gray-200,
    $gray-200 1px,
    transparent 1px,
    transparent 1px calc(25% - 1px)
  );

  @include b-d(lg) {
    grid-template-areas:
      'i0'
      'i1'
      'i2';
    grid-template-columns: 1fr;
  }

  @include b-d(md) {
    background: repeating-linear-gradient(
      to right,
      $gray-200,
      $gray-200 1px,
      transparent 1px,
      transparent calc(50% - 1px)
    );
  }

  // Firefox only
  /* stylelint-disable-next-line */
  @-moz-document url-prefix() {
    background: linear-gradient(
      to right,
      $gray-200 1px,
      transparent 1px calc(25% - 1px),
      $gray-200 calc(25% - 1px) 25%,
      transparent 25% calc(50% - 1px),
      $gray-200 calc(50% - 1px) 50%,
      transparent 50% calc(75% - 1px),
      $gray-200 calc(75% - 1px) 75%,
      transparent 75% calc(100% - 1px),
      $gray-200 calc(100% - 1px) 100%
    );

    @include b-d(md) {
      background: linear-gradient(
        to right,
        $gray-200 1px,
        transparent 1px calc(50% - 1px),
        $gray-200 calc(50% - 1px) 50%,
        transparent 50% calc(100% - 1px),
        $gray-200 calc(100% - 1px) 50%
      );
    }
  }
}
