@import '~styles/mixins';

.featuresList {
  display: grid;
  grid-template-areas:
    'heading'
    'text'
    'features'
    'button';
  grid-auto-flow: row;
  align-content: start;
  align-self: start;
  justify-items: start;

  @include b-btw(md, lg) {
    grid-template-areas:
      'heading button'
      'text button'
      'features features';
    grid-template-columns: 1fr 1fr;
  }

  @include b-d(md) {
    grid-template-areas:
      'heading'
      'text'
      'button'
      'features';
  }

  &.buttonHidden {
    grid-template-areas:
      'heading'
      'text'
      'features';

    @include b-btw(md, lg) {
      grid-template-areas:
        'heading .'
        'text .'
        'features features';
    }

    @include b-d(md) {
      grid-template-areas:
        'heading'
        'text'
        'features';
    }
  }
}

.heading {
  grid-area: heading;
}

.text {
  grid-area: text;
  margin-top: 12px;

  @include b-d(lg) {
    margin-top: 8px;
  }
}

.listWrapper {
  display: grid;
  grid-area: features;
  grid-auto-flow: row;
  gap: 48px 40px;
  margin-top: 32px;

  @include b-btw(md, lg) {
    grid-auto-flow: column;
  }

  @include b-d(md) {
    gap: 24px;
    margin-top: 48px;
  }
}

.button {
  grid-area: button;

  @include b-up(lg) {
    margin-top: 48px;
  }

  @include b-btw(md, lg) {
    align-self: center;
    justify-self: end;
  }

  @include b-d(md) {
    margin-top: 24px;
  }
}
