@import '~styles/mixins';

.sectionHero {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 24px;
  align-items: center;

  @include b-d(lg) {
    margin-top: 64px;
  }

  @include b-d(lg) {
    margin-top: 32px;
  }

  @include b-d(lg) {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  @include b-d(md) {
    gap: 40px;
  }
}

.colLeft {
  @include b-d(lg) {
    display: grid;
  }

  p {
    margin-top: 20px;
    margin-bottom: 32px;

    @include b-d(lg) {
      max-width: 500px;
    }

    @include b-d(md) {
      margin-top: 12px;
    }
  }
}

.buttonWrapper {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  justify-content: start;
}
