@import '~styles/mixins';

$img-hero-width: 716px;
$img-hero-height: 432px;

.sectionCaseHero {
  position: relative;
  display: grid;
  grid-template-columns: 400px auto;
  align-items: center;
  margin-top: 28px;

  @include b-up(xl) {
    min-height: $img-hero-height;
  }

  @include b-btw(lg, xl) {
    min-height: $img-hero-height * 0.85;
  }

  @include b-btw(md, lg) {
    grid-template-columns: 332px auto;
    align-items: end;
    min-height: $img-hero-height * 0.7 + 100px;
    margin-top: 48px;
  }

  @include b-d(md) {
    grid-template-columns: 1fr;
    row-gap: 64px;
    margin-top: 40px;
  }
}

.colLeft {
  display: grid;
  row-gap: 20px;

  @include b-d(md) {
    row-gap: 12px;
  }
}

.imgHero {
  user-select: none;

  @include b-up(xl) {
    right: 140px;
    width: $img-hero-width;
    height: $img-hero-height;
  }

  @include b-btw(lg, xl) {
    width: $img-hero-width * 0.85;
    height: $img-hero-height * 0.85;
  }

  @include b-btw(md, lg) {
    width: $img-hero-width * 0.7;
    height: $img-hero-height * 0.7;
  }

  @include b-up(md) {
    position: absolute !important;
    top: 0;
    right: 40px;
  }

  @include b-d(md) {
    width: 100%;
  }
}
