@import '~styles/mixins';

.sectionFounders {
  & > p {
    max-width: 600px;
    margin: 12px auto 0;
    text-align: center;
  }
}

.foundersWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 24px;

  @include b-btw(md, xl) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include b-d(md) {
    grid-template-columns: 1fr;
  }
}

.cardWrapper {
  padding: 10px;
  border-bottom: 1px solid #ececec;

  @include b-up(lg) {
    border-right: 1px solid #ececec;

    // First row
    &:nth-child(-n + 4) {
      padding-top: 0;
    }

    // Last row
    &:nth-last-child(-n + 4) {
      padding-bottom: 0;
      border-bottom: none;
    }

    // First col
    &:nth-child(4n-3) {
      padding-left: 0;
    }

    // Last col
    &:nth-child(4n) {
      padding-right: 0;
      border-right: none;
    }
  }

  @include b-btw(md, xl) {
    // First row
    &:nth-child(-n + 2) {
      padding-top: 0;
    }

    // First col
    &:nth-child(2n-1) {
      padding-left: 0;
      border-right: 1px solid #ececec;
    }

    // Last col
    &:nth-child(2n) {
      padding-right: 0;
    }

    // Last row
    &:nth-last-child(-n + 2) {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  @include b-d(md) {
    padding-right: 0;
    padding-left: 0;

    // First row
    &:first-child {
      padding-top: 0;
    }

    // Last row
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

.heading {
  margin-top: 140px;
  text-align: center;

  @include b-d(md) {
    margin-top: 100px;
  }
}
