@import '~styles/mixins';

.section {
  display: grid;
  justify-items: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 263px;
    right: 0;
    background: linear-gradient(180deg, rgba($white, 0) 0%, $white 100%);
    z-index: 1;
  }

  @include b-up(xl) {
    padding-top: 40px;
    padding-bottom: 48px;
  }

  @include b-d(xl) {
    row-gap: 16px;
  }

  @include b-d(xl) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @include b-d(md) {
    margin-top: 40px;
  }

  &_title {
    font-size: 18px;
    line-height: 1.334;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1040px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 26px;

    @include b-up(md) {
      gap: 8px;
    }

    @include b-d(xl) {
      overflow: hidden;
    }

    @include b-o(md) {
      max-height: 168px;
      mask: linear-gradient(180deg, #fff 56px, transparent calc(100% - 21px));
    }

    @include b-d(md) {
      gap: 4px;
      max-height: 204px;
      mask: linear-gradient(180deg, #fff 100px, transparent 100%);
    }
  }

  &_item {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    padding: 8px 16px 8px 8px;
    align-items: center;
    gap: 4px;
    background-color: $gray-100;
    border-radius: 40px;

    @include b-btw(md, xl) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &_pic {
    @include b-btw(md, xl) {
      width: 32px;
      height: 32px;
    }

    @include b-d(md) {
      width: 24px;
      height: 24px;
    }
  }

  &_cta {
    display: grid;
    row-gap: 12px;
    width: 100%;
    margin-top: -24px;
    z-index: 2;
    max-width: 200px;
    :global(.btn) {
      backdrop-filter: blur(8px);
    }
  }
}
