@import '~styles/mixins';

.section {
  position: relative;
  display: grid;
  row-gap: 26px;
  justify-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  @include b-d(lg) {
    padding-bottom: 0;
  }

  @include b-d(md) {
    padding-bottom: 8px;
  }

  &_title {
    font-size: 18px;
    line-height: 1.334;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    max-width: 1040px;
    max-height: 104px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;

    @include b-d(lg) {
      max-height: 160px;
    }

    @include b-d(md) {
      max-height: 112px;
    }
  }

  &_item {
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-content: start;
    padding: 8px 16px 8px 8px;
    background-color: $gray-100;
    border-radius: 40px;

    @include b-d(lg) {
      &:last-child {
        display: none;
      }
    }

    @include b-d(md) {
      gap: 3px;
      padding: 5px 10px 5px 5px;
      font-size: 11px;

      &:nth-last-child(-n + 2) {
        display: none;
      }
    }
  }

  &_pic {
    @include b-btw(md, xl) {
      width: 32px;
      height: 32px;
    }

    @include b-d(md) {
      width: 22px;
      height: 22px;
    }
  }

  &_cta {
    grid-template-columns: minmax(100px, 200px);

    @include b-d(md) {
      margin-top: -10px;
    }
  }
}
