@import '~styles/mixins';

.card {
  padding: 24px;
  margin-top: 16px;
  border: 1px solid $gray-200;
  border-radius: 16px;

  @include b-d(md) {
    padding: 16px;

    + .card {
      margin-top: 12px;
    }
  }
}
