@import '~styles/mixins';

.cardStep {
  padding: 16px;
  background-color: $white;
  border-radius: 16px;

  @include b-d(lg) {
    padding: 10px;
    border-radius: 9px;
  }

  @include b-d(md) {
    padding: 14px;
    border-radius: 14px;
  }
}

.text {
  display: block;
  font-size: 16px;
  font-weight: $font-weight-semi-bold;
  line-height: 1.25;

  @include b-d(lg) {
    font-size: 12px;
  }

  @include b-d(md) {
    font-size: 14px;
  }

  &::before {
    color: $primary;
    content: 'Step ' counter(step) ' ';
    counter-increment: step;
  }
}

.imageWrapper {
  position: relative;
  margin-top: 18px;
  background-color: #f2f2f2;
  isolation: isolate;
  border-radius: 12px;

  @include b-d(lg) {
    margin-top: 12px;
    border-radius: 10px;
  }

  &::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    content: '';
    background-image: radial-gradient(#e0e1e5 1px, transparent 0);
    background-size: 15px 15px;
  }
}
