@import '~styles/mixins';

.sectionCaseStudies {
  margin-top: 140px;
  background-color: $gray-100;

  @include b-d(lg) {
    margin-top: 120px;
  }
}

.container {
  padding-top: 116px;
  padding-bottom: 100px;
  overflow: hidden;

  @include b-btw(md, lg) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include b-d(md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.text {
  grid-area: paragraph;
  max-width: 700px;

  @include b-d(lg) {
    max-width: 380px;
  }
}

.gridHeading {
  display: grid;

  @include b-up(lg) {
    align-items: center;
  }

  @include b-d(lg) {
    row-gap: 8px;
  }

  @include b-btw(md, lg) {
    align-items: start;
  }

  @include b-up(md) {
    grid-template-areas:
      'heading heading'
      'paragraph button';
  }

  @include b-d(md) {
    grid-template-areas:
      'heading'
      'paragraph'
      'button';
    justify-items: start;
  }

  &.buttonHide {
    @include b-d(md) {
      grid-template-areas:
        'heading'
        'paragraph';
    }
  }
}

.heading {
  grid-area: heading;
}

.btn {
  grid-area: button;

  @include b-up(lg) {
    margin-top: -12px;
  }

  @include b-up(md) {
    justify-self: end;
  }

  @include b-d(md) {
    margin-top: 16px;
  }
}

.swiper {
  margin-top: 32px;

  @include b-d(md) {
    margin-top: 40px;
  }
}
