@import '~styles/mixins';

.row {
  transition: background-color 250ms;

  &:nth-child(even) {
    background-color: $gray-100;
  }

  &:hover {
    background-color: $gray-200;
  }
}

.subTitle {
  padding: 40px 12px 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.333;
  color: $indigo;

  &:nth-child(1) {
    padding: 24px 12px 12px;
  }
}

.cell {
  position: relative;
  padding: 16px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.467;
  color: $gray-900;
  text-align: center;
  letter-spacing: -0.01em;

  &.selected {
    &::after {
      position: absolute;
      right: -1px;
      bottom: -16px;
      left: -1px;
      height: 16px;
      content: '';
      border-right: 1px solid $indigo;
      border-bottom: 1px solid $indigo;
      border-left: 1px solid $indigo;
      border-radius: 0 0 8px 8px;
    }
  }
}

.cellTitle {
  font-size: 15px;
  font-weight: 400;
  text-align: start;
}

.inactive {
  margin: auto;
}
