@import '~styles/mixins';

.headerWrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-sticky;
  background-color: $body-bg;
  border-bottom: 1px solid transparent;
  transition: border-color 0.25s;

  &.active {
    border-color: $gray-200;
  }
}

.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;

  @include b-up(lg) {
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
  }

  @include b-d(lg) {
    min-height: 96px;
  }

  @include b-btw(md, lg) {
    grid-template-columns: 1fr auto;
    column-gap: 16px;
    padding-right: 104px;
  }
}

.navMenu {
  @include b-up(lg) {
    justify-self: end;
  }

  @include b-d(lg) {
    display: none;
  }
}

.navMenuMobile {
  position: fixed;
  top: 24px;
  z-index: $zindex-offcanvas + 5;

  @include b-up(lg) {
    display: none;
  }

  @include b-up(md) {
    right: 40px;
  }

  @include b-d(md) {
    right: 24px;
  }
}

.btnPrimary {
  justify-self: end;

  @include b-d(md) {
    display: none;
  }
}
