@import '~styles/mixins';

.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;

  @include b-btw(md, lg) {
    grid-template-columns: 1fr repeat(2, auto);
    column-gap: 16px;
  }
}
