@import '~styles/mixins';

.headerWrapper {
  $this: &;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-sticky;
  background-color: $body-bg;
  border-bottom: 1px solid transparent;
  transition: border-color 0.25s;

  &.active {
    border-color: $gray-200;
  }

  &.withMenu {
    #{$this}__header {
      @include b-up(lg) {
        grid-template-columns: auto 1fr auto;
      }

      @include b-btw(md, lg) {
        grid-template-columns: 1fr auto;
        padding-right: 104px;
      }
    }
  }

  &__header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;

    @include b-up(lg) {
      column-gap: 24px;
    }

    @include b-d(lg) {
      min-height: 96px;
    }

    @include b-btw(md, lg) {
      column-gap: 16px;
    }

    @include b-d(md) {
      grid-template-columns: 160px auto;
      column-gap: 35px;
      min-height: 80px;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &__btnPrimary {
      justify-self: end;
    }

    &__navMenu {
      @include b-up(lg) {
        justify-self: end;
      }

      @include b-d(lg) {
        display: none;
      }
    }
  }
}

.navMenuMobile {
  position: fixed;
  top: 24px;
  z-index: $zindex-offcanvas + 5;

  @include b-up(lg) {
    display: none;
  }

  @include b-up(md) {
    right: 40px;
  }

  @include b-d(md) {
    top: 16px;
    right: 24px;
  }
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;

  @include b-d(md) {
    display: none;
  }
}
